 *
 {
  font-family: 'Roboto', sans-serif;
 
 }
 .App
 {
  width:100%;
  background-image: url("https://lp-cms-production.imgix.net/2019-06/101686077.jpg");
 }
 .Navbar-container
 {
  position:relative;
  box-shadow: 1px 1px 20px rgb(51, 51, 51);
 }  .Navbar-container input{
  background:transparent;
  border:none;
  box-shadow: -0.4px -0.4px 4px rgb(183, 182, 182);
 }
.me-auto
{
  margin-left:200px
}
.me-auto-linl
{
  margin-left:30px;
  font-size: 20px;
  font-family: "Goudy Bookletter 1911", sans-serif;
}
.body-container
{
  position: relative;
  width:100%;
 
  
}
.body-container .body-main-container
{
  position: relative;
  display:flex;
  width:100%;
  height:82vh;
}
.info
{
  position:relative;
  width:65%;
  height:100%;
  ;
}
.info .info-part
{
  position:relative;
  top:20%;
  left:25%;
}
.info .info-part h1{
  color:rgb(235, 8, 8);
}
.info .info-part p
{
  font-size: 25px;
  word-spacing: 5px;
  color:rgb(70, 69, 69);
}
.info .info-part .P2
{
  position:relative;
  top:-15px;
}
.info .info-part h3{
  position:relative;
  color:#fff;
  text-shadow: 0 0 20px #2d31a1;
  
}
.info .info-part .ul-part{
  position:relative;
  list-style-type: circle;
  left:13%;
  width:30%;
  height:30%;
}
.info .info-part .ul-part ul{
  list-style-type:none;
  position:relative; 
}
.info .info-part .ul-part  li{
  color:rgb(61, 17, 150);
  font-size:27px;
}
.info .info-part .ul-part li span
{
  position:relative;
}

.info .info-part .ul-part li span::before
{
  content: '';
  animation: animate  5s infinite;
}
@keyframes animate{
  0%
  {
    content: 'Mern';
    color:rgb(11, 10, 10);
    -webkit-text-stroke: 0.1vw rgb(52, 153, 52);
    font-size:2vw;
  }
  
  50%
  {
    content: 'Mern';
    color:rgb(12, 12, 12);
    -webkit-text-stroke: 0.1vw rgb(52, 153, 52);
    font-size:6vw;
  }
 
  51%
  {
    content: 'Developer';
    color:rgb(10, 10, 10);
    -webkit-text-stroke: 0.1vw rgb(52, 153, 52);
    font-size:2vw;
  }
  100%
  {
   
    content: 'Developer';
    left:-10%;
    color:rgb(10, 10, 10);
    -webkit-text-stroke: 0.1vw rgb(52, 153, 52);
    font-size:5vw;
  }
}
.img
{
  position: relative;
  width:35%;

}
.img .img-part
{
  position: relative;
  width:100%;
  height:100%;
}
.img-part img{
  position:relative;
  top:10%;
  left:19%;
  width:75%;
  height:75%;
  border-radius: 100px;
  box-shadow: 1px 1px 1002px rgb(181, 111, 111);
}
.footer-main-container
{
  position:fixed;
  height:15vh;
  left:0;
  bottom:0;
  width:100%;
 background:rgb(27, 26, 26);
  text-align: center;
  color:white;
}
.footer-main-container .footer-cont h3{
  color:rgb(251, 0, 0);
}
.footer-main-container .footer-cont a{
  text-decoration: none;
  font-size: 24px;
  color:white;
  margin-left:10px;
}
.About-main
{
  position: relative;
  width:100%;
  height:90vh;
}
.project-main 
{
  position:relative;
  width:100%;
  height:110vh;
  
}
.project-main  h3{
  position:relative;
  color:white;
  text-align: center;
  top:35px;
  margin-left:100px;
}
.project-main .Project-list
{
  Position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project-main .Project-list .card
{
  position:relative;
  background:transparent;
  width:20%;
  height: 35vh;
  margin-left:100px;
  margin-top: 60px;;
  margin-bottom: 10px;
  box-shadow: 0.6px 0.6px 20px white;
  border-radius: 20px;
  
} .project-main .Project-list .card .card-body
{
  position:relative;
}
.project-main .Project-list .card .card-body .card-img
{
  position:relative;
  width:100%;
  height:70%;
  background:white;
  
}
.project-main .Project-list .card .card-body .card-img img{
  position: relative;
  width:100%;
  height:100%;
}

.project-main .Project-list .card .card-title
{
  text-align: center;
  color:white;
  
}
.project-main .Project-list .card a{
  position:relative;
  top:-5%;  
  left:35%;
}
.contact-container
{
  position: relative;
  width:100%;
  height:90vh;
}.contact-container h3{
  text-align: center;
  color:white;
  margin-top:50px;
}
.contact-container .contact-form
{
  position:relative;
  width: 20%;
  height:45vh;
  text-align: center;
  top:2%;
  left:40%;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 0.6px 0.6px 20px white;
  color:white;
}
.contact-container .contact-form .contact-input {
  position:relative;
  top:30px;
}
.contact-container .contact-form .contact-input  input{
  margin-top:5px;
  width:75%;
}
.contact-container .contact-form .contact-input label{
  position:relative
}
.contact-container .contact-form .contact-input .form-submit
{
  margin-top:15px;
}
.skill-container
{
  position:relative;
  width:100%;
  height:95vh;
  color:white;
  font-family: "Lucida Console", Courier, monospace;
}
.skill-container .skill-container-main-box
{
  position: relative;
  width:70%;
  left:15%;
  height:60vh;
  align-items: center; 
}
.skill-container .skill-container-main-box .skill-container-main{
  width:100%;
  height:1vh;
  margin-top:5%;
}
.skill-container .skill-container-main-box .skill-title
{
  display:block;
  font-size: 14px;
  font-weight:600;
}
.skill-container .skill-container-main-box .skill-bar-per
{
  height:8px;
  width:100%;
  background:rgb(27, 26, 26);
  border-radius: 6px;
  margin-top:8px;
}
.skill-container .skill-container-main-box .skill-per
{
  position:relative;
  display:block;
  height:100%;
  width:95%;
  border-radius: 6px;
  background:white;
  animation:progress 3.5s ease-in-out forwards;
  opacity: 0;
}
.skill-container .skill-container-main-box .Css
{
  width:70%;
  animation-delay: 0.4;
}

.skill-container .skill-container-main-box .Javascript
{
  width:60%;
  animation-delay: 0.8s;
}
.skill-container .skill-container-main-box .React-js
{
  width:85%;
  
  animation-delay: 1.2s;
}
.skill-container .skill-container-main-box .Node-js
{
  width:65%;
  animation-delay: 1.6s;
}
.skill-container .skill-container-main-box .Express-js
{
  width:75%;
  animation-delay: 2s;
}
.skill-container .skill-container-main-box .skill-tooltip
{
  position:absolute;
  top:-28px;
  right:-30px;
}
.skill-container .skill-container-bar
{ 
  position:relative;
  top:45px;
  color:white;
  font-family: Times, "Times New Roman", Georgia, serif;
}
.skill-container h1{
  text-shadow: 0.4px 0.4px 30px rgb(255, 0, 0);
  word-spacing: 15px;
  text-align: center;
}
@keyframes progress{
  0%
  {
    width:0%;
    opacity: 1;
    background:rgb(246, 5, 5);
  }
  50%
  {
    opacity: 1;
    background:rgb(204, 204, 77);
  }
  100%
  {
    opacity:1;
    background:rgb(151, 147, 147);
  }
}
.skill-download
{
  position:relative;
  left:45%;
  top:-6%;
  background:transparent;
  border:none;
  box-shadow: 0.6px 0.6px 10px white;
  border-radius: 10px;
}
.skill-download a{
  color:white;
  text-decoration: none;
  font-size: 30px;
  
}
@media only screen and (max-width: 510px) {
  .body-container .body-main-container{
    position:relative;
    width:80%;
    height:100vh;
    display:flex;
    flex-direction: column;
  }
  .body-container .body-main-container .info{
    position:relative;
    width:100%;
  }
  .body-container .body-main-container .info .info-part{
    position:relative;
    top:40px;
    margin-left:30px;
  }

  .body-container .body-main-container .img{
    position:relative;
    width:100%;
    top:-10px;  
  }
  .body-container .body-main-container .img .img-part
  {
    position:relative;
    left:10px;
  }
  .me-auto{
    position:relative;
    margin-left: -10px;
  }
  .footer-main-container
{
  position:relative;
  height:22vh;
  left:0;
  margin-top: -10px;
  bottom:0;
  width:100%;
  text-align: center;
  color:white;
}
.footer-main-container .footer-cont
{
  position: relative;
  top:10px;
}
.footer-main-container .email-para
{
  position:relative;
  top:20px;
}
.project-main
{
  position:relative;
  width:100%;
  height:auto;
}
.project-main .Project-list{
  display:block;
}
.project-main .Project-list .card{
  position: relative;
  left:0%;
  width:50%;
  border-radius: 20px;
  height:35vh;
  margin-bottom: 10px;
}
.project-main .Project-list .card .card-body
{
  position:relative;
  width:100%;
  height:100%;
}
.project-main .Project-list .card .card-body a{
  position:relative;
  left:23%
};
.contact-container
{
  position: relative;
  width:100%;
  height:90vh;
}
.contact-container  h3
{
  position:relative;
  font-size: 25px;
  top:5%;
}
.contact-container .contact-form
{
  position:relative;
  width: 50%;
  height:50vh;
  text-align: center;
  top:10%;
  left:25%;
  border-radius: 25px;
  background-color: transparent;
  box-shadow: 0.6px 0.6px 20px white;
  color:white;
}
.contact-container .contact-form .contact-input {
  position:relative;
  top:30px;
}
.contact-container .contact-form .contact-input  input{
  margin-top:5px;
  width:75%;
}
.contact-container .contact-form .contact-input label{
  position:relative
}
.contact-container .contact-form .contact-input .form-submit
{
  margin-top:15px;
}
.skill-container .skill-container-main-box
{
  position: relative;
  width:70%;
  left:15%;
  top:15%;
  height:60vh;
  align-items: center; 
}
.skill-container .skill-container-main-box .skill-container-main{
  width:100%;
  height:1vh;
  margin-top:15%;
}
.skill-container .skill-container-main-box .skill-title
{
  display:block;
  font-size: 14px;
  font-weight:600;
}
.skill-container .skill-container-main-box .skill-bar-per
{
  height:8px;
  width:100%;
  background:rgb(27, 26, 26);
  border-radius: 6px;
  margin-top:8px;
}
.skill-container .skill-container-bar
{ 
  position:relative;
  color:white;
  font-family: Times, "Times New Roman", Georgia, serif;
  top:10%;
}
.skill-container h1{
  text-shadow: 0.4px 0.4px 30px rgb(255, 0, 0);
  word-spacing: 15px;
  text-align: center;
}
.skill-download{
  position: relative;
  top:10%;
  left:35%
}
.project-main h3{
  position:relative;
  margin-left:-27px;
}
}